@import "../../variables";

:host {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;

  h1 {
    color: $red-main;
  }  

  p {
    margin-top: 60px;
  }

  img {
    object-fit: contain;
    max-height: 350px;
    max-width: 80%;
    margin: 48px 0;
  }
}

@media (max-width: 766px) {
  :host {
    height: auto;
    width: 90%;
    padding-top: 20px;

    img {
      width: 100%;
      max-width: 100%;
      margin: 32px 0;
    }

    p {
      margin-top: 32px;
    }
  }
}