@import '../../variables';

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.25s;
  width: 100vw;
  height: 100vh;
  background: rgba(black, 0.5);
}

.dialog-content {
  width: 90%;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 2px #666666;
  position: relative;
  top: -30px;
  overflow: hidden;
}

.dialog-close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}