@import "../../variables";

:host {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  position: sticky;
  top: 0;
  background: #f2f2f2;
  padding: 32px;
  box-sizing: border-box;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;

  h1 {
    color: $red-main;
  }
}

.dashboard-user-credentials {
  display: flex;
  align-items: center;
  margin: 24px 0 32px;

  p {
    color: $text-medium-gray;
  }
}

.dashboard-navigation-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  a {
    display: flex;
    align-items: center;
    margin: 6px 0;

    mat-icon {
      display: none;
    }
  }
}

.active {
  color: $red-main;
    mat-icon {
      &:first-child {
        fill: $red-main !important;
      }
  }
}

.events-link {
  color: $red-main;
}

@media (max-width: 1280px) {
  :host {
    width: 220px;
  } 
}

@media (max-width: 766px) {
  :host {
    position: fixed;
    z-index: 10;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 0;
    flex-direction: row;
    bottom: 0;
    top: auto;
    height: 75px;
    width: 100%;

    h1 {
      display: none;
    }
  } 

  .dashboard-user-credentials {
    display: none;
  }

  .dashboard-navigation-links {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    a {
      &:nth-child(1) {
        order: 1;
      }
  
      &:nth-child(2) {
        order: 2;
        transform: scale(0.85);
      }

      &:nth-child(3) {
        transform: scale(0.85);
      }
    
      display: flex;
      width: 33.33%;
      flex-direction: column;
      align-items: center;
      margin: 6px 0;
      
      mat-icon {
        display: flex;

        &:first-child {
          fill: $text-medium-gray;
        }
      }
    }
  }
}